<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Vitality activities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          th:href="@{/css/general_style.css}">
</head>
<body>
<div th:replace="fragments/banner.html :: formField(mainHeading='Welcome Admin!')"></div>
<div class="navigation" th:replace="fragments/navigation :: navigation-bar"></div>

<form th:object="${admin}" th:action="@{/admin/create-account}" method="post">
    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p th:text="#{admin.hasErrors}">Error Message</p>
    </div>
    <br>
    <label for="email">Email: </label>
    <input type="email" id="email" th:field="*{email}"><br><br>
    <label for="password">Password: </label>
    <input type="password" id="password" th:field="*{password}"><br><br>
    <button type="submit" class="button">Create Account</button>
</form>
</body>
</html>