<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Add activity to goal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          th:href="@{/css/general_style.css}">
</head>
<body>
<div th:replace="fragments/banner.html :: formField(mainHeading='Add activies')"></div>
<div class="navigation" th:replace="fragments/navigation :: navigation-bar"></div>
<div class="center">
    <br>
    <a class="button" type="button" th:href="@{/admin/show-create-health-activity}">Create health activity</a>
    <a class="button" type="button" th:href="@{/admin/show-create-driving-activity}">Create driving activity</a>
    <a class="button" type="button" th:href="@{/admin/show-create-spending-activity}">Create spending activity</a>
</div>
</body>
</html>