<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Add activity to goal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          th:href="@{/css/general_style.css}">
</head>
<body>
<div th:replace="fragments/banner.html :: formField(mainHeading='Add activies')"></div>
<div class="navigation" th:replace="fragments/navigation :: navigation-bar"></div>
<div class="center">
    <h3>Your weekly goal progress</h3>
    <label for="healthgoalprogress">Health Goal Progress</label><br>
    <progress th:max="${member.healthGoal.pointsNecessary}" id="healthgoalprogress" th:value="${member.healthGoal.pointsEarned}"></progress><br><br>
    <label for="spendinggoalprogress">Spending Goal Progress</label><br>
    <progress th:max="${member.spendingGoal.pointsNecessary}" th:value="${member.spendingGoal.pointsEarned}" id="spendinggoalprogress"></progress><br><br>
    <label for="drivinggoalprogress">Driving Goal Progress</label><br>
    <progress th:max="${member.drivingGoal.pointsNecessary}" th:value="${member.drivingGoal.pointsEarned}" id="drivinggoalprogress"></progress><br><br>
</div>
<table>
    <tr>
        <th><h3>Health activities</h3></th>
        <th><h3>Driving activities</h3></th>
        <th><h3>Spending activities</h3></th>
    </tr>
    <tr th:each="activity : ${activities}">
        <div th:switch="${activity.activityType()}">
            <div th:case="${'Health'}">
                <td class="center" th:text="${activity.description}"></td>
            </div>
            <div th:case="${'Driving'}">
                <td></td>
                <td class="center" th:text="${activity.description}"></td>
                <td></td>
            </div>
            <div th:case="${'Spending'}">
                <td></td>
                <td></td>
                <td class="center" th:text="${activity.description}"></td>
            </div>
        </div>
    </tr>
</table>
<form th:action="@{/member/add-activity-to-goal/{id}(id=${member.memberId})}" class="center" method="post">
    <h3>Select activity to add</h3>
<!--    <select th:field="*{activityId}">-->
    <select id="activityId" name="activityId">
        <option th:each="activity : ${activities}"
                th:text="${activity.description}"
                th:value="${activity.id}"
                th:selected="${activityId == activity.id}">
        </option>
    </select>
    <br><br>
    <button type="submit" class="button">Add activity</button>
    <a class="button" type="button" th:href="@{/member/member-info/{id}(id=${member.memberId})}">Home</a>
</form>

</body>
</html>