<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Vitality activities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="css/general_style.css">
</head>
<body>

<form th:object="${member}" th:action="@{/member/create-account}" method="post">
    <div th:replace="fragments/banner.html :: formField(mainHeading='Welcome Member!')"></div>
    <div class="navigation" th:replace="fragments/navigation :: navigation-bar"></div>
    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p th:text="#{member.hasErrors}">Error Message</p>
    </div>
    <label for="name">Name: </label>
    <input type="text" id="name" th:field="*{name}"><br><br>
    <label for="surname">Surname: </label>
    <input type="text" id="surname" th:field="*{surname}"><br><br>
    <label for="id-number">ID number: </label>
    <input type="text" id="id-number" th:field="*{idNumber}"><br><br>
    <label for="email">Email: </label>
    <input type="email" id="email" th:field="*{email}"><br><br>
    <label for="password">Password: </label>
    <input type="password" id="password" th:field="*{password}"><br><br>
    <button type="submit" class="button">Create Account</button>
</form>
</body>
</html>