<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Vitality activities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          th:href="@{/css/general_style.css}">
</head>
<body>
<div th:replace="fragments/banner.html :: formField(mainHeading='Hello '+ ${member.name})"></div>
<div class="navigation" th:replace="fragments/navigation :: member-navigation-bar"></div>
<div class="center">
    <form th:action="@{/member/reset-weekly-goals/{id}(id=${member.memberId})}" class="center" method="post">
    <h3>Your current weekly goals</h3>
    <label for="healthgoalprogress">Health Goal Progress</label><br>
    <progress th:max="${member.healthGoal.pointsNecessary}" id="healthgoalprogress" th:value="${member.healthGoal.pointsEarned}"></progress><br><br>
    <label for="spendinggoalprogress">Spending Goal Progress</label><br>
    <progress th:max="${member.spendingGoal.pointsNecessary}" th:value="${member.spendingGoal.pointsEarned}" id="spendinggoalprogress"></progress><br><br>
    <label for="drivinggoalprogress">Driving Goal Progress</label><br>
    <progress th:max="${member.drivingGoal.pointsNecessary}" th:value="${member.drivingGoal.pointsEarned}" id="drivinggoalprogress"></progress><br><br>
    <h3>Are you sure you want to reset your weekly goals?</h3><br>
    <button class="button" type="submit" >Yes, your weekly goals' start date will be set to today's date</button>
    <a class="button" type="button" th:href="@{/member/member-info/{id}(id=${member.memberId})}">No</a>
    </form>
</div>

</body>
</html>