<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/discovery-miles/AccountSystemLogic/src/main/JavaScript\za.ac.nwu.ac.domain.dto.reward.js"></script>
    <title>Reward</title>
</head>
<body>
<h1>Rewards</h1>
<input type="button" onclick='generateRewardCheckBoxes()' value="Show all available rewards">
<input type="button" onclick='generateRewardCheckBoxes()' value="Show rewards that Member can afford">
<div id="checkboxcontainer">
    <p>Rewards</p>
</div>
<input type="submit" value="Purchase za.ac.nwu.ac.domain.dto.reward">
</body>
</html>