<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Vitality activities</title>
    <link rel="stylesheet"
          href="css/general_style.css"></head>
<body>
<h1>Activities</h1>
<table>
    <tr>
        Select activities
    </tr>
    <tr th:each="activity : ${activities}">
        <input type="checkbox" id="activity" name="activity"><br><br>
        <label for="activity" th:text="${activity.name}"></label>
    </tr>
</table>
</body>
</html>