<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Goal progress</title>
    <link rel="stylesheet"
          th:href="@{/css/general_style.css}">
</head>
<body>
    <h1>Goal progress</h1>
    <form>
        <label for="healthgoalprogress">Health Goal Progress</label><br>
        <progress max="100" value="80" id="healthgoalprogress"></progress><br><br>
        <label for="spendinggoalprogress">Spending Goal Progress</label><br>
        <progress max="100" value="80" id="spendinggoalprogress"></progress><br><br>
        <label for="drivinggoalprogress">Driving Goal Progress</label><br>
        <progress max="100" value="80" id="drivinggoalprogress"></progress><br><br>
        <input class="button" type="button" onclick="location.href='/discovery-miles/AccountSystemWebSpringBoot/templates/add-activity-to-goal.html?_ijt=hkl05outpfdscgs8gkn4ki33jh'" value="Add activity to Goal">

    </form>
    <footer>
        <input class="button" type="button" value="Home" onclick="location.href='/discovery-miles/AccountSystemWebSpringBoot/templates/Index.html?_ijt=nt38adqvvu9ua0h0fcsbshoqr4'">
    </footer>
</body>
</html>
